--extra-index-url https://download.pytorch.org/whl/cu124

# Core Deep Learning (CUDA 12.4 Support)
torch==2.6.0+cu124
torchaudio==2.6.0+cu124

# Speech Processing & Datasets
speechbrain==1.0.3
datasets==3.6.0
librosa==0.11.0

# Math & Matrix Operations
# Để trống phiên bản để cài bản mới nhất (Latest stable) như yêu cầu
numpy